@model EmployeeManagement.Models.EmployeeModel



&nbsp;&nbsp; GetEmployee

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Employee Id
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeId)
        </dd>

        <dt>
            Employee Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeName)
        </dd>

        <dt>
           Age
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
           Salary(In Lakh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salaryInLakh)
        </dd>

    </dl>
</div>

